<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/logo.png">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="assets/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="assets/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../be/assets/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../be/assets/css/buttons.bootstrap.min.css" />
    <title>NSVN-QLTV</title>
</head>
<body class="cm-no-transition cm-1-navbar">
    <header id="cm-header">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
            <div class="cm-flex">
                <h1><% title %></h1>
            </div>
        </nav>
    </header>
    <div id="global">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                </div>
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Danh sách thành viên</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade modalinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:50%">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <div class="row">
                            <ul id="myTab" class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Thông tin cá nhân</a></li>
                                <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Hội viên chờ duyệt</a></li>
                            </ul>
                            <br>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                                    <table id="grvInfo" class="table table-bordered" style="width: 100%;font-size:12px!important" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td class="col-sm-3" style="text-align:center;vertical-align:middle" rowspan="8">
                                                    <img id="info_img" src="../img/logo.jpg" class="img-responsive" />
                                                    <input type="hidden" id="id_info" value="0">
                                                </td>
                                                <td class="col-sm-9">
                                                    <label class="col-sm-3 text-right margin0">Họ và tên:</label><label class="margin0" id="info_name"></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-9"><label class="col-sm-3 text-right margin0">Cấp cán bộ:</label><label class="margin0" id="info_level"></label></td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-9"><label class="col-sm-3 text-right margin0">Chức vụ:</label><label class="margin0" id="info_position"></label></td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-9"><label class="col-sm-3 text-right margin0">Ngày sinh:</label><label class="margin0" id="info_birthday"></label></td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-9"><label class="col-sm-3 text-right margin0">Điện thoại:</label><label class="margin0" id="info_phone"></label></td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-9"><label class="col-sm-3 text-right margin0">Email:</label><label class="margin0" id="info_email"></label></td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-9"><label class="col-sm-3 text-right margin0">Địa chỉ:</label><label class="margin0" id="info_address"></label></td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-9"><label class="col-sm-3 text-right margin0">Trạng thái:</label><label class="margin0" id="info_status"></label></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <footer class="cm-footer"><span class="pull-right">&copy; NSVN KYC.NET.VN Inc.</span></footer>
    </div>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/jquery-migrate-1.4.1.min.js"></script>
    <!-- <script src="assets/js/lib/jquery-2.1.3.min.js"></script> -->
    <script src="../be/assets/js/jquery.dataTables.min.js"></script>
    <script src="../be/assets/js/dataTables.bootstrap.min.js"></script>
    <script src="../be/assets/js/dataTables.buttons.min.js"></script>
    <script src="../be/assets/js/buttons.bootstrap.min.js"></script>
    <script src="../be/assets/js/jszip.min.js"></script>
    <script src="../be/assets/js/pdfmake.min.js"></script>
    <script src="../be/assets/js/vfs_fonts.js"></script>
    <script src="../be/assets/js/buttons.html5.min.js"></script>
    <script src="../be/assets/js/buttons.print.min.js"></script>
    <script src="../be/assets/js/buttons.colVis.min.js"></script>
    <script src="assets/js/jquery.mousewheel.min.js"></script>
    <script src="assets/js/jquery.cookie.min.js"></script>
    <script src="assets/js/fastclick.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/clearmin.min.js"></script>
    <script src="assets/js/toanva.js"></script>
    <script src="../js/member-new.js?v1.1.1.5"></script>
	<script src="../js/logout.js?v=1.0.0.0"></script>
</body>
</html>
